.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.inner-app-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
}
.currency-container, .middle-container {
  margin: 0.5rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
}
.middle-container {
  width: 97%;
}

.currencies {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
}

.values {
  text-align: right;
  font-size: 2rem;
  border: none;
}

@media only screen and (max-width: 600px) {
  .values {
    max-width: 200px;
  }
}
.values:focus, .currencies:focus {
  outline: none;
}

.button {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
}

.exchange-rate {
  justify-self: flex-end;
  margin-left: auto;
}